[user]
  name = gavin hurley
  email = gavin-changeme@turophile.net
[alias]
  st = status
  di = diff
  ci = commit
  co = checkout
[color]
  ui = true
[core]
  pager =
  excludesfile = ~/.gitignore_global
  quotepath = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[merge]
  ff = no
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
  helper = osxkeychain
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[pull]
  rebase = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = simple
